{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="container">
        <h1>Register</h1>
        {{ form_start(registrationForm) }}
            <div class="row justify-content-evenly">
                {{ form_errors(registrationForm) }}
                <div class="col-5">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="col-5">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="col-5">
                    {{form_row(registrationForm.firstname)}}
                </div>
                <div class="col-5">
                    {{form_row(registrationForm.lastname)}}
                </div>
                <div class="col-5">
                    {{form_row(registrationForm.address)}}
                </div>
                <div class="col-5">
                    {{form_row(registrationForm.city)}}
                </div>
                <div class="col-5">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <button type="submit" class="btn bg-success text-white w-auto">S'inscrire</button>
            </div>

        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
