{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>Créer une nouvelle ville</h1>
        {{form_start(formCreate, {'method': 'POST'})}}
        {{form_errors(formCreate)}}
        <div class= "form-group">
            {{form_label(formCreate.name)}}
            {{form_widget(formCreate.name)}}
        </div>
        <div class= "form-group">
            {{form_label(formCreate.zipCode)}}
            {{form_widget(formCreate.zipCode)}}
        </div>
        <div class= "form-group">
            {{ form_row(formCreate.submit) }}
        </div>
        {{form_end(formCreate)}}
</div>

<a href="{{ path('app_city_index') }}">back to list</a>
{% endblock %}
