{% extends 'base.html.twig' %}

{% block title %}ReviewResponse index{% endblock %}

{% block body %}
    <h1>ReviewResponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PostedDate</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review_response in review_responses %}
            <tr>
                <td>{{ review_response.id }}</td>
                <td>{{ review_response.postedDate ? review_response.postedDate|date('Y-m-d') : '' }}</td>
                <td>{{ review_response.comment }}</td>
                <td>
                    <a href="{{ path('app_review_response_show', {'id': review_response.id}) }}">show</a>
                    <a href="{{ path('app_review_response_edit', {'id': review_response.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_review_response_new') }}">Create new</a>
{% endblock %}
