{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <section class="container">
        <h1>Détails du Restaurant</h1>
        <div class="row w-50 mx-auto border border-2 border-black rounded-3">
            <div class="d-flex col-12 justify-content-center">
                {% include('restaurant/carousel.html.twig') %}
            </div>
            <div class="d-flex col-12 justify-content-center">
                <h3> {{ restaurant.name }}</h3>
            </div>
            <div class="col-12">
                <h3>Description : </h3>
                <p>{{ restaurant.description }}</p>
            </div>
            <div class="col-12">
                <h3>Adresse : </h3>
                <p>{{ restaurant.address }}</p>
            </div>
            <div class="col-12">
                <h3>Reviews</h3>
                {% for review in restaurant.reviews %}
                    {% if not review.reviewResponse %}
                        {% set result = review %}
                    {% endif %}
                        <div class="d-flex col-12">
                            <h4 class="me-5">{{ review.rate }}</h4>
                            <p>{{ review.comment }}</p>
                            <p class="ms-auto">{{ review.postedDate|date("d/m/Y") }}</p>
                        </div>
                        {% if review.reviewResponse %}
                            <div class="d-flex col-10 ms-auto">
                                <p>Reponse du gérant : &nbsp;</p>
                                <p>{{review.reviewResponse.comment}}</p>
                                <p class="ms-auto">{{ review.reviewResponse.getPostedDate()|date("d/m/Y") }}</p>
                            </div>
                        {% else %}
                            {% if restaurant.user is same as app.user %}
                                <div>
                                    <label for="{{ review.id }}">Votre réponse :</label>
                                    <input name="comment" class="inputAddResponse form-control" id="{{ review.id }}" type="text">
                                </div>
                            {% endif %}
                        {% endif %}
                    <hr class="w-75 mx-auto">
                {% endfor %}

                {% if result is not empty and app.user is same as restaurant.user %}
                    <button class="responseToAll btn btn-success w-auto d-block mx-auto my-3">Répondre à tous</button>
                {% endif %}
                {% include('review/response_to_all.html.twig') %}
            </div>
        </div>
        {% if app.user and (('ROLE_USER' in app.user.roles and 'ROLE_RESTORER' not in app.user.roles ) or 'ROLE_ADMIN' in app.user.roles or ('ROLE_ADMIN' in app.user.roles and 'ROLE_RESTORER' in app.user.roles)) %}
            <h3>Ajouter une review : </h3>
            <div>
                {{form_start(formReview)}}
                {{form_widget(formReview)}}
                {{form_end(formReview)}}
            </div>
        {% endif %}
        
        {% if app.user and restaurant.user.id is same as app.user.id %}
            <div>
                <h3>Ajouter une image</h3>
                {{form_start(formPicture)}}
                {{form_widget(formPicture)}}
                {{form_end(formPicture)}}
            </div>
        {% endif %}
        
        <a href="{{ path('app_restaurant_all') }}">back to list</a>
    </section>
{% endblock %}
