{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <section class="container">
        <h1>Détails du Restaurant</h1>
        <div class="row w-50 mx-auto border border-2 border-black rounded-3">
            <div class="d-flex col-12 justify-content-center">
                {% for picture in restaurant.pictures %}
                <img src="{{asset('uploads/restaurantsPictures/' ~ picture.fileName)}}" alt="photo du restaurant {{restaurant.name}}" class="img-fluid m-5 mx-auto" >
                {% endfor %}
            </div>
            <div class="d-flex col-12 justify-content-center">
                <h3> {{ restaurant.name }}</h3>
            </div>
            <div class="col-12">
                <h3>Description : </h3>
                <p>{{ restaurant.description }}</p>
            </div>
            <div class="col-12">
                <h3>Adresse : </h3>
                <p>{{ restaurant.address }}</p>
            </div>
            <div class="col-12">
                <h3>Reviews</h3>
                {% for review in restaurant.reviews %}
                        <div class="d-flex col-12">
                            <h4 class="me-5">{{ review.rate }}</h4>
                            <p>{{ review.comment }}</p>
                            <p>{{ review.posted_date|date("d/m/Y") }}</p>
                        </div>
                        {% if review.reviewResponse %}
                            <div class="col-10 ms-auto">
                                <p>Reponse du gérant : </p>
                                <p>{{review.reviewResponse.comment}}</p>
                            </div>
                        {% else %}
                            {% if restaurant.user is same as app.user %}
                            {{form_start(formReviewResponse)}}
                                {{form_widget(formReviewResponse)}}
                                <input type="hidden" name="review_id" value="{{ review.id }} "data-review-id="{{ review.id }}">
                                {{form_end(formReviewResponse)}}
                            {% endif %}
                        {% endif %}
                    <hr class="w-75 mx-auto">
                {% endfor %}
            </div>
        </div>
        {% if restaurant.user is not same as app.user %}
            <h3>Ajouter une review : </h3>
            <div>
                {{form_start(formReview)}}
                {{form_widget(formReview)}}
                {{form_end(formReview)}}
            </div>
        {% endif %}
        
        {% if app.user and restaurant.user.id is same as app.user.id %}
            <div>
                <h3>Ajouter une image</h3>
                {{form_start(formPicture)}}
                {{form_widget(formPicture)}}
                {{form_end(formPicture)}}
            </div>
        {% endif %}
        
        <a href="{{ path('app_restaurant_all') }}">back to list</a>
    </section>
{% endblock %}
