{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="container">
    <h1 class="fs-1 fw-bold">Bienvenue sur NotaResto</h1>
    <div class= "row">
    {% for restaurant in restaurants %}
        <div class="col-4 my-3 g-4 text-white">
            <a href="{{ path('app_restaurant_show_details', {'id': restaurant.id}) }}" class="text-decoration-none text-white">
                <div class="p-3 bg-secondary h-100">
                    <h2>{{ restaurant.name }}</h2>
                        <h3>Note : {{restaurant.averageRating|number_format(2, '.', ',')}}</h3>
                        <div class="d-flex justify-content-around">
                            {{ include('restaurant/_delete_form.html.twig') }}
                            <a class="btn btn-success" href="{{ path('app_restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                        </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
