{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <section class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Email : </th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Nom : </th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom : </th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Adresse : </th>
                    <td>{{ user.address }}</td>
                </tr>
                {% if 'ROLE_USER' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                    <tr>
                        <th>Mes reviews :</th>
                        <td></td>
                    </tr>
                    {% for review in user.reviews %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td class="d-flex justify-content-between"><p>Note de {{ review.rate }}/5 pour le restaurant
                                    : {{ review.restaurant.name }}. Commentaire
                                    : {{ review.comment|length > 80 ? review.comment|slice(0,80) ~ '...' : review.comment }}</p>
                                {{ include('review/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if 'ROLE_RESTORER' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                    <tr>
                        <th>Mes restaurants :</th>
                        <td></td>
                    </tr>
                    {% for restaurant in user.restaurant %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td class="d-flex justify-content-between">
                                <p>
                                    Nom : {{ restaurant.name }} |
                                    Adresse: {{ restaurant.address|length > 50 ? restaurant.address|slice(0,50) ~ '...' : restaurant.address }} |
                                    Ville : {{ restaurant.city }} |
                                    Note moyenne : {{restaurant.averageRating}}
                                </p>
                                {{ include('restaurant/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
            <div class="col-12 text-center">
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class=" btn btn-success text-white w-auto">Modifier</a>
            </div>
            <div class=" text-center">
                {% if app.user.id == app.request.get('id') %}
                    {{ include('user/_delete_form.html.twig') }}
                {% endif %}
            </div>

    </section>





{% endblock %}
